<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1012545476549-nmbjd650586u2iquu0q0h3rrguekc8kp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtO_RCilt-GifewCMybUbHZO7EPTqqGR8</string>
	<key>GCM_SENDER_ID</key>
	<string>1012545476549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.iqfareez.waktusolatmalaysia</string>
	<key>PROJECT_ID</key>
	<string>malaysia-waktu-solat</string>
	<key>STORAGE_BUCKET</key>
	<string>malaysia-waktu-solat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012545476549:ios:4101a5c6a995c6f45a9dac</string>
	<key>DATABASE_URL</key>
	<string>https://malaysia-waktu-solat.firebaseio.com</string>
</dict>
</plist>